* {
  margin: 0px;
  padding: 0px;
}

body {
  background-image: url(../assets/bg.jpg);
  background-size: cover;
}

.menu {
  color: #e5d9cd;
  background-color: #e5d9cd;
}

.tituloindex {
  font-family: "WindSong", cursive;
  text-shadow: #68564D 2px 3px 3px;
  height: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #e5d9cd;
  text-align: center;
  font-size: 30px;
}

.tituloindex h3 {
  color: #e5d9cd;
  text-align: center;
  font-family: 'Noto Serif', serif;
  font-style: italic;
}

.color {
  color: #e5d9cd;
}

.bgcolor {
  background-image: url(/assets/winecolor.jpg);
  background-size: cover;
}

.cursiva {
  font-family: "WindSong", cursive;
}

#entintados {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-name: aparecer;
          animation-name: aparecer;
}

.display-2 {
  font-family: 'WindSong', cursive;
  color: #e5d9cd;
  text-shadow: #68564D 2px 3px 3px;
}

.titulosec {
  font-family: "WindSong", cursive;
  color: #e5d9cd;
  text-shadow: #68564D 2px 3px 3px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: 30px;
}

@-webkit-keyframes aparecer {
  0% {
    opacity: 0;
    font-size: 100px;
  }
  100% {
    opacity: 1;
    font-size: 30px;
  }
}

@keyframes aparecer {
  0% {
    opacity: 0;
    font-size: 100px;
  }
  100% {
    opacity: 1;
    font-size: 30px;
  }
}

.fondodesection {
  width: auto;
  height: 400px;
  background-size: cover;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tituloSection {
  color: #e5d9cd;
  text-align: center;
  font-family: 'Noto Serif', serif;
  font-style: italic;
  text-shadow: #68564D 2px 3px 3px;
}

.mapa {
  width: 500px;
  height: 500px;
}

.footer {
  height: 250px;
}

#TiendaTitle {
  text-align: center;
  font-family: 'WindSong';
  color: #68564D;
}

#titleSomos {
  text-align: center;
  font-family: 'WindSong';
  color: #68564D;
  padding-top: 0px;
}

#foto {
  grid-area: foto;
}

#video {
  grid-area: video;
  size-adjust: cover;
  padding: 0px;
}

.menu1 {
  background-image: url(../assets/menu1.jpg);
  background-size: cover;
}

.menu2 {
  background-image: url(../assets/menu2.jpg);
  background-size: cover;
}

.menu3 {
  background-image: url(../assets/menu3.jpg);
  background-size: cover;
}

.menu4 {
  background-image: url(../assets/menu4.jpg);
  background-size: cover;
}

.menu5 {
  background-image: url(../assets/menu5.jpeg);
  background-size: cover;
}

.menu6 {
  background-image: url(../assets/menu6.jpg);
  background-size: cover;
}

.menu7 {
  background-image: url(../assets/menu7.jpg);
  background-size: cover;
}

.menu8 {
  background-image: url(../assets/menu8.jpg);
  background-size: cover;
}
/*# sourceMappingURL=style.css.map */