* {
  margin: 0px;
  padding: 0px;
}

body {
  height: 120vh;
  background-image: url(../assets/bg.jpg);
  background-size: cover;
}

.menu {
  color: #e5d9cd;
  background-color: #e5d9cd;
}

#header :hover {
  color: white;
}

.tituloindex {
  font-family: "WindSong", cursive;
  text-shadow: #68564D 2px 3px 3px;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #e5d9cd;
  text-align: center;
  font-size: 60px;
}

.tituloindex h3 {
  color: #e5d9cd;
  text-align: center;
  font-family: 'Noto Serif', serif;
  font-style: italic;
}

#mapa, .ImgQuienes {
  width: 50vh;
  height: 50vh;
}

.color {
  color: #e5d9cd;
}

.bgcolor {
  background-image: url(/assets/winecolor.jpg);
  background-size: cover;
}

.cursiva {
  font-family: "WindSong", cursive;
}

#entintados {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-name: aparecer;
          animation-name: aparecer;
}

.titulosec {
  font-family: "WindSong", cursive;
  color: #e5d9cd;
  text-shadow: #68564D 2px 3px 3px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: 60px;
  padding-bottom: 100px;
  padding-top: 100px;
}

@-webkit-keyframes aparecer {
  0% {
    opacity: 0;
    font-size: 100px;
  }
  100% {
    opacity: 1;
    font-size: 40px;
  }
}

@keyframes aparecer {
  0% {
    opacity: 0;
    font-size: 100px;
  }
  100% {
    opacity: 1;
    font-size: 40px;
  }
}

#sectionQuienes {
  padding-left: 30px;
  padding-right: 30px;
}

.fondodesection {
  width: auto;
  height: 400px;
  background-size: cover;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tituloSection {
  color: #e5d9cd;
  text-align: center;
  font-family: 'Noto Serif', serif;
  font-style: italic;
  text-shadow: #68564D 2px 3px 3px;
}

.menu1 {
  background-image: url(../assets/menu1.jpg);
  background-size: cover;
}

.menu2 {
  background-image: url(../assets/menu2.jpg);
  background-size: cover;
}

.menu3 {
  background-image: url(../assets/menu3.jpg);
  background-size: cover;
}

.menu4 {
  background-image: url(../assets/menu4.jpg);
  background-size: cover;
}

.menu5 {
  background-image: url(../assets/menu5.jpg);
  background-size: cover;
}

.menu6 {
  background-image: url(../assets/menu6.jpg);
  background-size: cover;
}

.menu7 {
  background-image: url(../assets/menu7.jpg);
  background-size: cover;
}

.menu8 {
  background-image: url(../assets/menu8.jpg);
  background-size: cover;
}

.tienda1 {
  background-image: url(../assets/tienda1.jpg);
  background-size: cover;
}

.tienda2 {
  background-image: url(../assets/tienda2.jpg);
  background-size: cover;
}

.tienda3 {
  background-image: url(../assets/tienda3.jpg);
  background-size: cover;
}

.tienda4 {
  background-image: url(../assets/tienda4.jpg);
  background-size: cover;
}

.footer {
  height: auto;
  font-size: smaller;
}
/*# sourceMappingURL=style.css.map */