@import "textos";


*{
    margin: 0px ;
    padding:0px;
}

@mixin bgsize{
    background-size: cover;

}
body{
    height: 120vh;
    background-image: url(../assets/bg.jpg);
    @include bgsize();
}
.menu{
    color: $color1;
    background-color: $color1;
}

#header :hover{
    color: white;
}

.tituloindex {
    font-family: $textotitulo;
    text-shadow: $color2 2px 3px 3px ;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: map-get($estilos,centro);
    color: $color1;
    text-align: map-get($estilos,centro);
    font-size: 60px; 
    h3 { color: $color1;
        text-align: map-get($estilos,centro);
        font-family: 'Noto Serif', serif;
        font-style: italic ;
     }
}
#mapa{
    width: 50vh;
    height: 50vh;
}

.ImgQuienes {
    @extend #mapa;
}
.color {
    color: $color1;
}
.bgcolor {
    background-image: url(/assets/winecolor.jpg);
    @include bgsize();
}
.cursiva{
    font-family: $textotitulo;
}

#entintados{
    animation-duration: 2s;
    animation-name: aparecer;
}
.titulosec {
    font-family:$textotitulo;
    color: $color1;
    text-shadow: $color2 2px 3px 3px ;
    justify-content: map-get($estilos,centro);
    text-align: map-get($estilos,centro);
    font-size: 60px;
    padding-bottom: 100px;
    padding-top: 100px;
}
@keyframes aparecer {
    0%{
        opacity: 0;
        font-size: 100px;
    }
    100% {
        opacity: 1;
        font-size: 40px;
    }
    
}
#sectionQuienes{
    padding-left: 30px;
    padding-right: 30px;
}
.fondodesection {
    width: auto;
    height: 400px;
    background-size: cover;
    flex-direction: column;
    justify-items: map-get($estilos,centro);
    align-items: map-get($estilos,centro);

}
.tituloSection{
    color:$color1;
    text-align: center;
    font-family: 'Noto Serif', serif;
    font-style: italic;
    text-shadow: $color2 2px 3px 3px ;
   
}
@for $i from 1 through 8 {
    .menu#{$i}{
    background-image: url(../assets/menu#{$i}.jpg);
    @include bgsize()
    }
}
@for $i from 1 through 4 {
    .tienda#{$i}{
        background-image: url(../assets/tienda#{$i}.jpg);
        @include bgsize()
    }
}

.footer {
    height: auto;
    font-size: smaller;
}
